#content {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: row;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    max-width: 100vw;
    max-height: 100vh;
    background-color: white;
}

#left-panel {
    flex: 1;
    background-color: lightgreen;
    width: fit-content;
    max-width: fit-content;
    padding-left: 3px;
    box-sizing: border-box;
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
}
 
#header {
    background-color: darkgreen;
    color: white;
    text-align: center;
    font-size: 24px;
    height: fit-content;
    padding-bottom: 10px;
    border-top: 10px solid black;
}

#game-area {
    flex: 6;
    background-color: lightblue;
    border-left: 10px solid black;
}

#main-game {
    background-color: lightblue;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    min-height: 0;
    flex-direction: row;
}

#cookie {
    width: 50%;
    min-width: 150px;
    height: auto;
    cursor: pointer;
}

#shop-container {
    flex: 1;
    background-color: lightblue;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: visible;
    height: 50vh;
}

.shop-upgrade-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: brown;
    color: white;
    width: 90%;
    margin: 2.5px;
    padding: 5px;
}

.shop-button-div {
    display: flex;
    flex-direction: row;
    flex: 1 1 0%;
    align-items: center;
    justify-content: flex-start;
    min-width: fit-content;
}

#shop-button {
    width: 20vw;
    height: 10vh;
    border-radius: 25px;
    font-size: 18px;
    color: lightgreen;
    border-color: lightgreen;
    background-color: darkgreen;
    cursor: pointer;
}

#shop-button:hover {
    background-color: green;
    transform: scale(1.05);
}

.left-axis,
.right-axis {
    flex: 1;
    display: flex;
    /*justify-content: center; removing this line fixed a bug*/
    
}

.left-axis {
    align-items: center;
}

.center-axis {
    background: black;
    width: 4px;
    height: 80%;
}

#cookie-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.shop-upgrade-image {
    width: 50px;
    height: 50px;
}

.not-selectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* non-cavemen */
}


#shop-btn-switcher {
    border-radius: 6px;
    padding-top: 2px;
    background-color: lightgreen;
    border: 1px solid black;
}

#passive-shop-button {
    border-radius: 6px;
    padding-top: 2px;
    background-color: lightgreen;
    border: 1px solid black;
}

#click-shop-button {
    border-radius: 6px;
    padding-top: 2px;
    background-color: lightgreen;
    border: 1px solid black;
}

#shop-title-header {
    margin: 15px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;
    text-decoration-color: black;
    text-underline-offset: 5px;
    font-size: 2em;

}


#cookie-score-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    font-weight: bold;
    font-family: emoji;
}


.settings-item-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.settings-spacer {
    height: 0.05rem;
    background-color: rgb(65, 62, 62);
    width: 100% !important;
    border: black 0.75px solid;
    border-radius: 2px;
}


#bakery-name-div {
    display: flex;
    gap: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, sans-serif;

}


#bakery-name-header {
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#reset-div {
    font-size: 1em;
    text-align: center;
}


#bakery-plaque {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    flex: 1;
}

#bakery-plaque-h2 {
    display: flex;
    width: 90%;
    min-height: 3em;
    height: fit-content;
    color: gold;
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
    text-align: center;
    background-image: url("/images/wooden.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-style: italic;
    font-family: cursive;
}

#footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
}

#bakeryNameInput {

    font-size: 0.67em;
    text-align: center;
    height: max-content;
    background-image: url(/images/wooden.jpg);
    background-size: cover;
    border-radius: 1em;
    color: yellow;
    font-weight: bolder;
    cursor: pointer;
}


#reset-button {
    font-size: 0.67em;
    text-align: center;
    height: max-content;
    background-image: url(/images/wooden.jpg);
    background-size: cover;
    border-radius: 1em;
    color: red;
    font-weight: bolder;
    cursor: pointer;
}